.title{
    color: white;
    background-color: black;
    padding-left: 20px;
}

.card{
    color: white;
    background-color: black;
}

.card-subtitle{
    color:aliceblue;
}

.header-image-0 {
    background-image: url('../../../assets/seiza/seiza01_ohitsuji.png');
    background-size: cover;
}
.header-image-1 {
    background-image: url('../../../assets/seiza/seiza02_oushi.png');
    background-size: cover;
}
.header-image-2 {
    background-image: url('../../../assets/seiza/seiza03_futago.png');
    background-size: cover;
}
.header-image-3 {
    background-image: url('../../../assets/seiza/seiza04_kani.png');
    background-size: cover;
}
.header-image-4 {
    background-image: url('../../../assets/seiza/seiza05_shishi.png');
    background-size: cover;
}
.header-image-5 {
    background-image: url('../../../assets/seiza/seiza06_otome.png');
    background-size: cover;
}
.header-image-6 {
    background-image: url('../../../assets/seiza/seiza07_tenbin.png');
    background-size: cover;
}
.header-image-7 {
    background-image: url('../../../assets/seiza/seiza08_sasori.png');
    background-size: cover;
}
.header-image-8 {
    background-image: url('../../../assets/seiza/seiza09_ite.png');
    background-size: cover;
}
.header-image-9 {
    background-image: url('../../../assets/seiza/seiza10_yagi.png');
    background-size: cover;
}
.header-image-10 {
    background-image: url('../../../assets/seiza/seiza11_mizugame.png');
    background-size: cover;
}
.header-image-11 {
    background-image: url('../../../assets/seiza/seiza12_uo.png');
    background-size: cover;
}