.iconimage{
    border: medium none;
    width: 45px; height: 45px;
}

.card{
    color: white;
    background-color: black;
}

.time {
    padding-top: 20px;
    padding-left: 20px;
    color: white;
}

.back-theme{
    background-color: black;
}